<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" [hidden]="!showSkip" (click)="onSkip()">跳过</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager="true" (ionSlideWillChange)="onSlideWillChange($event)">
    <ion-slide  class="ion-align-items-start">
      <img src="/assets/img/splsh_one.png" alt="">
    </ion-slide>
    <ion-slide class="ion-align-items-start">
      <img src="./assets/img/splsh_two.png" alt="">
    </ion-slide>

    <ion-slide class="ion-align-items-start">
      
      <img src="assets/img/splsh_three.png" >
      
      <ion-grid  class="fixed-bottom">
        <ion-row >
          <ion-col>
            <ion-button  color="primary" fill="outline" expand="block" href="/login">登录</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" fill="outline" expand="block" href="/signup">注册</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      

      
    </ion-slide>
    
    
  </ion-slides>
</ion-content>
