
  .logo{
      width: 50%;
      margin:5%  auto 15% auto;

  }

    hr {
        height: 1.5px;
     
        border: none;
      }
    
      .full-width {
        width: 100%;
      }
      
      .grid {

         margin: 30px auto;

       }

       
      form {
        margin: 0 auto;
        width: 80%;
      }

      form ion-text{
        font-size: 10px;
      }
      
