<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons>
      <ion-back-button text="返回" defaultHref="setting" style="font-size: 20px;"></ion-back-button>
      <ion-title align="center" style="font-size: 20px;margin-right: 80px;">
        关于我们
      </ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <hr>
  <div>学号：200327059</div>
  <div>姓名：林煌伟</div>
  <hr>
  <div>完成功能：完成了欢迎界面、注册、登陆、主页功能，完成了设置中店铺设置、修改密码、拨打电话、安全退出功能；
  </div>
  <hr>
  <div>未完成功能：</div>
  <hr>
  <div>通过实训我掌握了如何使用一个自己没有接触的新技术来进行开发，期间碰到很多问题，我都是通过上网搜索以及和同学交流来一一克服的，不仅提高了Debug的能力，
  也体会到了开发的乐趣；
  </div>
  <hr>
  <div>意见：希望能多开设像工程训练这样的课程，不仅能提升我们的动手能力，还能提高我们解决问题的能力，让我们从零开始，逐步开发出一个项目；
   希望能增加一些团队协作的任务，合作开发，并多些自由发挥的空间。
  </div>
  
</ion-content>
