<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" href="/login"> 返回</ion-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-slides #forgotpasswordSlides>
    <ion-slide>
      <div padding-start>
        <!-- <form #forgotpasswordForm="ngForm">
          <ion-grid>
            <ion-item lines="none"></ion-item>
            <ion-row>
              <ion-label position="fixed">邮箱/手机号</ion-label>
              <ion-input name="username" type="text" placeholder="邮箱或手机号" [(ngModel)]="username"></ion-input>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-col>
              <ion-button expand="full" color="primary" (click)="next()">提交</ion-button>
            </ion-col>
          </ion-grid>
        </form> -->
        <form (ngSubmit)="onSubmitPhone(phoneForm)" #phoneForm="ngForm">
          <ion-item lines="none"></ion-item>
          <ion-list>
            <ion-item>
              <ion-input name="username" type="number" required placeholder="请输入您的手机号码"
                pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$"
                [(ngModel)]="username" #phone="ngModel">
              </ion-input>
              
              <div class="ion-padding-horizontal">
                <ion-button type="submit" expand="full" color="primary" [disabled]="phoneForm.invalid">下一步
                </ion-button>
              </div>
            </ion-item>
            <ion-text class="ion-text-left" color="danger" *ngIf="phone.invalid && phone.touched">
              <p [hidden]="!phone.errors?.required" class="padding-start">请输入手机号码</p>
              <p [hidden]="!phone.errors?.pattern" class="padding-start">您输入的手机号格式不正确</p>
            </ion-text>
          </ion-list>
        </form>
      </div>
    </ion-slide>

    <ion-slide>
      <div padding-horizontal>
        <form #forgotpasswordForm="ngForm">
          <ion-grid>
            <ion-item lines="none"></ion-item>
            <!-- <ion-row>
              <ion-label position="fixed">输入验证码</ion-label>
              <ion-input name="username" type="text" placeholder="验证码" [(ngModel)]="validcode"></ion-input>
            </ion-row> -->
            <ion-item>
              <ion-input name="code"  type="number" required placeholder="输入验证码" [(ngModel)]="validcode" #code="ngModel"></ion-input>
              <ion-button color="primary" expand="full"  (click)="sendcode()" [disabled]="codelock">发送验证码</ion-button>
            </ion-item>
          </ion-grid>

          <ion-grid>
            <ion-col>
              <ion-button expand="full" color="primary" (click)="onvalidCode()">下一步</ion-button>
            </ion-col>
          </ion-grid>
        </form>
      </div>
    </ion-slide>

    <ion-slide>
      <div padding-horizontal>
        <form #forgotpasswordForm="ngForm">
          <ion-grid>
            <ion-item lines="none"></ion-item>
            <ion-item>
              <ion-input type="password" name="password" (ionBlur)="checkPassword($event)"
                  placeholder="请输入新密码" [(ngModel)]="newpassword" #password="ngModel" required>
              </ion-input>
            </ion-item>
            <ion-text color="danger" text-left *ngIf="passwordOk == false">
                <p *ngIf="passwordOk == false">请输入6~16位密码，包含数字、英文、字符至少两种</p>
           </ion-text>

            <!-- <ion-row>
              <ion-label position="fixed">重置密码</ion-label>
              <ion-input name="username" type="text" placeholder="新密码" [(ngModel)]="newpassword"></ion-input>
            </ion-row> -->
          </ion-grid>
          <ion-grid>
            <ion-col>
              <ion-button expand="full" color="primary" (click)="resetpassword()">提交</ion-button>
            </ion-col>
          </ion-grid>
        </form>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>