<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button text="返回" defaultHref="setting" style="font-size: 20px;"></ion-back-button>
      <ion-title align="center" style="font-size: 20px;margin-right: 80px;">
        修改密码
      </ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content non-padding>
  <form #passwordForm novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating">输入旧密码</ion-label>
        <ion-input required [(ngModel)]="oldPassword" name="oldpass" #oldpass="ngModel" type="password"
          (ionBlur)="vaildoldPassport($event)"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!oldpasswordFlag">
        <p class="padding-start">请输入6~16位密码，包含数字、英文、字符至少两种</p>
      </ion-text>
      <ion-item>
        <ion-label position="floating">请输入新密码</ion-label>
        <ion-input type="password" required [(ngModel)]="newPassword" name="newpass" #newpass="ngModel"
          (ionBlur)="vaildnewPassport($event)"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!newpasswordFlag">
        <p class="padding-start">请输入6~16位密码，包含数字、英文、字符至少两种</p>
      </ion-text>
      <ion-item>
        <ion-label position="floating">请再输入新密码</ion-label>
        <ion-input type="password" required [(ngModel)]="checkPassword" name="checkpass" #checkpass="ngModel">
        </ion-input>
      </ion-item>
      <ion-text [hidden]="newPassword == checkPassword" padding-start color="danger">两次密码不一致</ion-text>
    </ion-list>
    <ion-button expand="block" [disabled]="passwordForm.invalid" (click)="onSave()">
      确定
    </ion-button>
  </form>
</ion-content>